<!doctype html>
<html>
<head>
    <title>Github OAuth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-github"></span> Github OAuth</h1>
        <p>Authorize your app with:</p>
        <a href="{{ url_for('oauth_authorize', provider='github') }}" class="btn btn-danger"><span class="fa fa-github"></span> Github Login</a>
    </div>
    <div class="jumbotron text-center text-primary">
        <h1><i class="fa fa-vk" aria-hidden="true"></i> Vk OAuth</h1>
        <p>Authorize your app with:</p>
        <a href="{{ url_for('oauth_authorize', provider='vk') }}" class="btn btn-danger"><i class="fa fa-vk" aria-hidden="true"></i> Vk Login</a>
    </div>
    <div class="jumbotron text-center text-primary">
        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg>
            Yandex OAuth 
        </h1>
        <p>Authorize your app with:</p>
        <a href="{{ url_for('oauth_authorize', provider='yandex') }}" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
            </svg>
            Yandex Login
        </a>
    </div>

    <div class="jumbotron text-center text-primary">
        <form action="/send_sms" method='POST'>
            <h1>Registration</h1>
            <input type="tel" id="phone" name="phone" pattern="+7[0-9]{10}" placeholder="+7xxxxxxxxxx" required>
            <button>Отправить код на телефон</button>
        </form>
    </div>

</div>
</body>
</html>